.container {
    margin-left: 290px;
    margin-top: 100px;
    display: flex;
    flex-flow: column wrap;
    gap: 100px;
    padding-bottom: 50px;
}

.scanner {
    h2 {
        font-family: 'Doppio One', sans-serif;
        text-align: center;
    }


    video {
        height: 500px !important;
        width: 500px !important;
        position: relative;
        display: flex;
    }
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
    .container {
        margin-inline: 5vh;
        margin-top: 100px;
        display: flex;
        flex-flow: column wrap;
        gap: 100px;
        padding-bottom: 50px;
    }
    
}