html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Doppio One';
  src: url('/fonts/DoppioOne/DoppioOne.woff2') format('woff2'),
       url('/fonts/DoppioOne/DoppioOne.woff') format('woff'),
       url('/fonts/DoppioOne/DoppioOne.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo Bhai 2';
  src: url('/fonts/DoppioOne/DoppioOne.woff2') format('woff2'),
       url('/fonts/DoppioOne/DoppioOne.woff') format('woff'),
       url('/fonts/DoppioOne/DoppioOne.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}